[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
flask-sslify = "*"
wheel = "*"
flask-mysql = "*"
requests-html = "*"

[requires]
python_version = "3.8"
